In [0]:
use_cuda = True

In [0]:
import numpy as np
import pandas as pd
import nltk
import os
import gc
from keras.preprocessing import sequence, text
from keras.preprocessing.text import Tokenizer
from keras.models import Sequential
from keras.layers import Dense, Dropout, Embedding,LSTM, Conv1D, GlobalMaxPooling1D
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical
from keras.losses import categorical_crossentropy
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,f1_score
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
#pd.set_option('display.max_colwidth',100)
pd.set_option('display.max_colwidth', -1)

In [21]:
gc.collect()

0

In [22]:
train = pd.read_csv('train.tsv', sep='\t')
print(train.shape)
train.head()

(156060, 4)

   PhraseId  ...  Sentiment
0  1         ...  1
1  2         ...  2
2  3         ...  2
3  4         ...  2
4  5         ...  2

[5 rows x 4 columns]

In [23]:
test=pd.read_csv('test.tsv',sep='\t')
print(test.shape)
test.head()

(66292, 3)

   PhraseId  SentenceId                                                  Phrase
0  156061    8545        An intermittently pleasing but mostly routine effort .
1  156062    8545        An intermittently pleasing but mostly routine effort
2  156063    8545        An
3  156064    8545        intermittently pleasing but mostly routine effort
4  156065    8545        intermittently pleasing but mostly routine

###Add sentiment column to test dataset and joining train and test for preprocessing

In [24]:
test['Sentiment']=-999
test.head()

   PhraseId  ...  Sentiment
0  156061    ... -999
1  156062    ... -999
2  156063    ... -999
3  156064    ... -999
4  156065    ... -999

[5 rows x 4 columns]

In [25]:
df=pd.concat([train,test],ignore_index=True)
print(df.shape)
df.tail()

(222352, 4)

        PhraseId  SentenceId                                  Phrase  Sentiment
222347  222348    11855       A long-winded , predictable scenario . -999
222348  222349    11855       A long-winded , predictable scenario   -999
222349  222350    11855       A long-winded ,                        -999
222350  222351    11855       A long-winded                          -999
222351  222352    11855       predictable scenario                   -999

In [26]:
del train,test
gc.collect()

44

##cleaning review

In [0]:
from nltk.tokenize import word_tokenize
from nltk import FreqDist
from nltk.stem import SnowballStemmer,WordNetLemmatizer
stemmer=SnowballStemmer('english')
lemma=WordNetLemmatizer()
from string import punctuation
import re

In [0]:
def clean_review(review_col):
    review_corpus=[]
    for i in range(0,len(review_col)):
        review=str(review_col[i])
        review=re.sub('[^a-zA-Z]',' ',review)
        #review=[stemmer.stem(w) for w in word_tokenize(str(review).lower())]
        review=[lemma.lemmatize(w) for w in word_tokenize(str(review).lower())]
        review=' '.join(review)
        review_corpus.append(review)
    return review_corpus

In [31]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [32]:
df['clean_review']=clean_review(df.Phrase.values)
df.head()

   PhraseId  ...                                                                                                                                                                            clean_review
0  1         ...  a series of escapade demonstrating the adage that what is good for the goose is also good for the gander some of which occasionally amuses but none of which amount to much of a story
1  2         ...  a series of escapade demonstrating the adage that what is good for the goose
2  3         ...  a series
3  4         ...  a
4  5         ...  series

[5 rows x 5 columns]

##seperating train and test data

In [33]:
df_train=df[df.Sentiment!=-999]
df_train.shape

(156060, 5)

In [34]:
df_test=df[df.Sentiment==-999]
df_test.drop('Sentiment',axis=1,inplace=True)
print(df_test.shape)
df_test.head()

(66292, 4)

        PhraseId  ...                                          clean_review
156060  156061    ...  an intermittently pleasing but mostly routine effort
156061  156062    ...  an intermittently pleasing but mostly routine effort
156062  156063    ...  an
156063  156064    ...  intermittently pleasing but mostly routine effort
156064  156065    ...  intermittently pleasing but mostly routine

[5 rows x 4 columns]

In [35]:
del df
gc.collect()

257

## splitting train dataset into train and 20% validation set

In [36]:
train_text=df_train.clean_review.values
test_text=df_test.clean_review.values
target=df_train.Sentiment.values
y=to_categorical(target)
print(train_text.shape,target.shape,y.shape)

(156060,) (156060,) (156060, 5)

In [37]:
X_train_text,X_val_text,y_train,y_val=train_test_split(train_text,y,test_size=0.2,stratify=y,random_state=123)
print(X_train_text.shape,y_train.shape)
print(X_val_text.shape,y_val.shape)

(124848,) (124848, 5)
(31212,) (31212, 5)

## finding number of words in train set

In [38]:
all_words=' '.join(X_train_text)
all_words=word_tokenize(all_words)
dist=FreqDist(all_words)
num_unique_word=len(dist)
num_unique_word

13732

## finding max length of a review in training set

In [39]:
r_len=[]
for text in X_train_text:
    word=word_tokenize(text)
    l=len(word)
    r_len.append(l)
    
MAX_REVIEW_LEN=np.max(r_len)
MAX_REVIEW_LEN

48

### building keras LSTM model

In [0]:
max_features = num_unique_word
max_words = MAX_REVIEW_LEN
batch_size = 128
epochs = 10
num_classes=y.shape[1]

## Tokenize text

In [0]:
tokenizer = Tokenizer(num_words=max_features)
tokenizer.fit_on_texts(list(X_train_text))
X_train = tokenizer.texts_to_sequences(X_train_text)
X_val = tokenizer.texts_to_sequences(X_val_text)
X_test = tokenizer.texts_to_sequences(test_text)

##sequence padding

In [43]:
X_train = sequence.pad_sequences(X_train, maxlen=max_words)
X_val = sequence.pad_sequences(X_val, maxlen=max_words)
X_test = sequence.pad_sequences(X_test, maxlen=max_words)
print(X_train.shape,X_val.shape,X_test.shape)

(124848, 48) (31212, 48) (66292, 48)

##LSTM Model

In [44]:
model=Sequential()
model.add(Embedding(max_features,250,mask_zero=True))
model.add(LSTM(128,dropout=0.4, recurrent_dropout=0.4,return_sequences=True))
model.add(LSTM(64,dropout=0.5, recurrent_dropout=0.5,return_sequences=False))
model.add(Dense(num_classes,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer=Adam(lr=0.001),metrics=['accuracy'])
model.summary()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3239: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, None, 250)         3433000
_________________________________________________________________
lstm_1 (LSTM)                (None, None, 128)         194048
_________________________________________________________________
lstm_2 (LSTM)                (None, 64)                49408
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 325
=================================================================
Total params: 3,676,781
Trainable params: 3,676,781
Non-trainable params: 0
_________________________________________________________________

In [45]:
%%time
history=model.fit(X_train, y_train, validation_data=(X_val, y_val),epochs=5, batch_size=batch_size, verbose=1)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 124848 samples, validate on 31212 samples
Epoch 1/5
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

124848/124848 [==============================] - 304s 2ms/step - loss: 1.0292 - acc: 0.5924 - val_loss: 0.8529 - val_acc: 0.6528
Epoch 2/5
124848/124848 [==============================] - 299s 2ms/step - loss: 0.8075 - acc: 0.6691 - val_loss: 0.8182 - val_acc: 0.6653
Epoch 3/5
124848/124848 [==============================] - 298s 2ms/step - loss: 0.7398 - acc: 0.6932 - val_loss: 0.8052 - val_acc: 0.6734
Epoch 4/5
124848/124848 [==============================] - 296s 2ms/step - loss: 0.6934 - acc: 0.7099 - val_loss: 0.8158 - val_acc: 0.6719
Epoch 5/5
124848/124848 [==============================] - 298s 2ms/step - loss: 0.6578 - acc: 0.7232 - val_loss: 0.8251 - val_acc: 0.6694
CPU times: user 34min 36s, sys: 2min 54s, total: 37min 30s
Wall time: 24min 56s

In [46]:
y_pred=model.predict_classes(X_test)
y_pred

array([2, 2, 2, ..., 1, 1, 2])

In [52]:
sub=pd.read_csv('sampleSubmission.csv')
sub.head()

   PhraseId  Sentiment
0  156061    2
1  156062    2
2  156063    2
3  156064    2
4  156065    2

In [53]:
sub.Sentiment=y_pred
sub.head()

   PhraseId  Sentiment
0  156061    2
1  156062    2
2  156063    2
3  156064    2
4  156065    2

In [0]:
sub.to_csv('sub1.csv',index=False)